<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
			<string>com.n-42.alexa-meeting</string>
		<key>StandardOutPath</key>
			<string>/Users/my.user/Library/Application\ Support/alexa-meeting/log.stdout</string>
		<key>StandardErrorPath</key>
			<string>/Users/my.user/Library/Application\ Support/alexa-meeting/log.stdout</string>
		<key>WorkingDirectory</key>
			<string>/Users/my.user/Library/Application\ Support/alexa-meeting/log.stdout</string>
		<key>ProgramArguments</key>
				<array>
					<string>/usr/local/bin/python3</string>
					<string>main.py</string>
				</array>
		<key>KeepAlive</key>
			<true/>
		<key>RunAtLoad</key>
			<true/>
	</dict>
</plist>